.advantages {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: #adadad;
	color: #000;

	font-size: 18px;
}

.advantages .container{
	margin: 0;
	padding: 0;
	max-width: 960px;


}

.advantages__title{
	margin: 0;
	padding: 0;

	font-size: 24px;
	font-weight: normal;

	text-align: center;
	text-transform: uppercase;

}

.advantages__list{
	margin: 0;
	padding: 0 40px;

	text-align: center;

	font-size: 14px;

	text-transform: uppercase;

	list-style: none;
	
}

.advantages__item {
	margin-bottom: 40px;


	&:nth-child(5),
	&:nth-child(6) {
		margin-bottom: 0;

	}
}

.advantages__item-title {
	margin: 0;
	margin-bottom: 10px;

	font-weight: normal;

	&::before {
		content: "";
		
		width: 65px;
		height: 65px;

		display: block;

		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	&--wallet::before{
		background-image: url("../img/advantages/svg/wallet.svg");
		background-repeat: no-repeat;
	}
	&--safety::before{
		background-image: url("../img/advantages/svg/umbrella.svg");
		background-repeat: no-repeat;
	}
	&--urgently::before{
		background-image: url("../img/advantages/svg/clock.svg");
		background-repeat: no-repeat;
	}
	&--personal::before{
		background-image: url("../img/advantages/svg/badge.svg");
		background-repeat: no-repeat;
	}
	&--add::before{
		background-image: url("../img/advantages/svg/tablet.svg");
		background-repeat: no-repeat;
	}
	&--tech::before{
		background-image: url("../img/advantages/svg/case.svg");
		background-repeat: no-repeat;
	}
}

.advantages__item-description {
	margin: 0;
	margin-bottom: 25px;

	font-size: 16px;

	text-transform: none;
	
}

@media only screen and (min-width: 768px) {
	.advantages {
		padding-bottom: 50px;

		.container {
			margin: 0;
			padding: 0;

		}
	}

	.advantages__title{
		font-size: 24px;
		margin-bottom: 25px;
	}

	.advantages__list{
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

	}

	.advantages__item{
		max-width: 300px;
		padding: 0;
	}

	.advantages__item-description {
		margin: 0;
	}

	
}

@media only screen and (min-width: 988px) {
	.advantages {
		padding-top: 100px;

		.container {
			margin: 0 auto;
		}
	}

	.advantages__title{
		font-size: 36px;
		margin-bottom: 50px;
	}

	.advantages__list{
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.advantages__item{
		max-width: 430px;

		font-size: 18px;

		margin-bottom: 40px;
	}

	.advantages__item-title{
		font-size: 18px;

		

		
	}
	.advantages__item-description {
		font-size: 18px;

	}
}