$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

body {
	font-style: "Moncerat";
}

.visible-hidden {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

.header {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	width: 100%;
}

.nav {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 10px;

	min-height: 40px;
}

@media only screen and (min-width: 768px) {
	.nav {
		margin: 0 auto;
		padding: 5px 0;
	}
}

@media only screen and (min-width: 988px) {
	.nav {
		padding: 15px 0;
		width: 960px;
	}
}

.logo {
	font-family: 'Notify', sans-serif;
	font-size: 16px;

	text-transform: uppercase;

	margin: 0;

	font-weight: bold;
	&--decor {
		text-transform: none;
	}
}

@media only screen and (min-width: 768px) {
	.logo {
		font-size: 24px;
	}
}

@media only screen and (min-width: 988px) {
	.logo {
		font-size: 30px;
		font-weight: bold;
	}
}

.tel {
	margin: 0;

	font-size: 14px;
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	.tel {
		order: 2;

		font-size: 12px;
	}
}

@media only screen and (min-width: 988px) {
	.tel {
		font-size: 19px;
	}
}

/* .main-nav{
	&--opened{
	position: absolute;
	top: 0;
	right: 0;

	width: 250px;

	background-color: #fff;

	.menu {
		padding-top: 30px;
		padding-left: 30px;
		padding-bottom: 30px;

		list-style: none;


		&__item {
			border-bottom: 1px solid #000;
		}

		&__link{
			display: block;

			padding: 15px 0;
			padding-left: 15px;

			color: #000;

			font-size: 18px;

			text-decoration: none;
		}
	}

	.main-nav__toggle {
		position: absolute;
		top: 20px;
		right: 10px;

		width: 35px;
		height: 35px;

		border: none;

		background-color: #fff;

		&::before,
		&::after {
			content: "";

			position: absolute;
			top: 15px;
			left: 0;

			box-shadow: none;

			display: block;
			width: 35px;
			height: 2px;

			background-color: #000;

		}

		&::before{
			transform: rotate(45deg);
		}

		&::after{
			transform: rotate(-45deg);
		}
	}
}


} */

@media only screen and (max-width: $mobile-width-only) {
	.main-nav--closed {
		.main-nav__toggle {
			position: relative;

			width: 35px;
			height: 35px;

			background-color: #fff;

			border: none;

			cursor: pointer;
		}

		.main-nav__toggle::before {
			content: "";

			position: absolute;
			top: 5px;
			left: 0;

			display: block;
			width: 35px;
			height: 2px;

			background-color: #000;

			box-shadow: 0 10px 0 0 #000, 0 20px 0 0 #000;
		}

		.menu {
			display: none;

			margin: 0;
			padding: 0;
		}
	}

	.main-nav--opened {
		z-index: 3;
		.menu {
			position: absolute;
			top: 0;
			right: 0;

			width: 250px;

			background-color: #fff;

			padding-top: 30px;
			padding-left: 30px;
			padding-bottom: 30px;

			list-style: none;


			&__item {
				border-bottom: 1px solid #000;
			}
			&__link {
				display: block;
				padding: 15px 0;
				padding-left: 15px;
				color: #000;
				font-size: 18px;

				text-decoration: none;
			}
		}

		.main-nav__toggle {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 2;

			width: 35px;
			height: 35px;

			border: none;
			background-color: #fff;

			&::before,
			&::after {
				content: "";

				position: absolute;
				top: 15px;
				left: 0;

				box-shadow: none;

				display: block;
				width: 35px;
				height: 2px;

				background-color: #000;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}

	.main-nav--no-js {
		position: absolute;
		top: 0;
		right: 0;

		width: 250px;

		background-color: #fff;

		.menu {
			display: block;

			list-style: none;

			padding-top: 30px;
			padding-left: 30px;
			padding-bottom: 30px;


			&__item {
				border-bottom: 1px solid #000;
			}

			&__link {
				display: block;
				padding: 15px;

				color: #000;

				font-size: 18px;

				text-decoration: none;

			}
		}

		.main-nav__toggle {
			display: none;

			&::after,
			&::before {
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.main-nav {
		position: static;

		min-width: 480px;

		margin: 0;
		padding: 0;

		.menu {
			display: flex;
			justify-content: space-around;
			padding: 0 10px;

			list-style: none;

			&__item {
				margin: 0;
				padding: 0;

				border-bottom: none;

				&:last-child {
					margin-right: 0px;
				}
			}

			&__link {
				font-size: 12px;

				text-transform: uppercase;

				text-decoration: none;

				color: #000;
			}
		}

		.main-nav__toggle {
			display: none;
		}
	}
}

@media only screen and (min-width: 988px) {
	.main-nav {
		min-width: 610px;

		.menu {
			display: flex;
			justify-content: space-around;
			padding: 0 10px;

			list-style: none;

			&__item {
				margin-right: 20px;
			}

			&__link {
				font-size: 20px;

				text-transform: lowercase;

				color: #000;
			}
		}

		.main-nav__toggle {
			display: none;
		}
	}
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
	background-image: url("../img/header/main-foto@2x-2.jpg");
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	margin: 0 auto;
	padding: 0;
	padding-bottom: 360px;

	background-color: #fff;
	background-image: url("../img/header/main-foto__desctop.jpg");
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;

	@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
		background-image: url("../img/header/main-foto@2x.jpg");
	}

	.content__title {
		position: relative;

		margin: 0;
		padding: 0;
		padding-top: 35px;

		text-transform: uppercase;
		text-align: center;

		font-weight: bold;
		font-size: 26px;
		font-family: 'Notify', sans-serif;

		line-height: 1.5;

		&::after {
			content: "";

			position: absolute;
			left: 20%;
			bottom: -10%;

			width: 60%;
			height: 3px;

			display: block;

			background-color: #000;
		}
	}

	.content__description {
		margin: 0;
		padding: 0;
		padding-left: 35px;
		padding-top: 35px;

		list-style: none;

		font-size: 16px;

		li {
			margin-bottom: 15px;

			border-bottom: 1px solid #000;

			position: relative;

			&::before {
				content: "";

				display: block;
				width: 20px;
				height: 20px;

				position: absolute;
				top: 5px;
				left: -30px;

				background-color: transparent;
				background-image: url(../img/header/checkmark2.svg);
				background-repeat: no-repeat;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.content {
		padding-top: 30px;
		padding-bottom: 280px;

/* 		background-image: url("../img/header/main-foto__desctop.jpg");
 */
		.content__title {
			font-size: 34px;
		}

		.content__description {
			font-size: 18px;
		}
	}
}

@media only screen and (min-width: 988px) {
	.content {
		padding-top: 50px;
		padding-bottom: 570px;

		.content__title {
			font-size: 30px;
		}

		.content__description {
			font-size: 24px;
		}

		.header__content-description-item {
			position: relative;

/* 			&::before {
				content: "";

				display: block;
				width: 20px;
				height: 20px;

				position: absolute;
				top: 5px;
				left: -30px;

				background-color: transparent;
				background-image: url(../img/header/checkmark2.svg);
				background-repeat: no-repeat;
			}
 */		}
	}
}
