body {
	font-family: "Moncerat";
}
.services {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 0;
		margin: 0;

		.not-show {
			display: none;
		}
	}
}

.services__title {
	align-self: center;

	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-size: 24px;
	font-weight: normal;

	text-transform: uppercase;
	text-align: center;
}

.services__list {
	display: flex;

	width: 100%;

	margin: 0;
	padding: 0;
}

.services__item {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-width: 100%;

	margin: 0;
	padding: 0;

	img {
		border-radius: 50%;

		margin: 0;
		padding: 0;
	}
}

.services__item-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-size: 16px;
	font-weight: normal;

	text-transform: uppercase;
}

.services__item-button {
	min-width: 100px;
	padding: 5px 20px;

	font-family: inherit;

	border: 2px solid transparent;
	border-radius: 5px;

	background-color: #2d333f;

	color: #fff;

	font-size: 16px;
}

.toggle {
	position: relative;

	margin-right: 10px;

	width: 30px;
	height: 30px;

	border-radius: 50%;
	border: 0;

	background-color: #adadad;

	&:last-child {
		margin-right: 0;
	}

	&::before{
		content: "";

		position: absolute;
		top: 5px;
		left: 5px;

		width: 20px;
		height: 20px;

		border-radius: 50%;

		background-color: #fff;
	}
}

.services__modal {
	position: relative;

	margin: 0;
	padding: 0;
}

.services__modal-list {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0;
	padding: 0;
	padding-top: 5px;

	list-style: none;
}

.services__modal-item {
	margin-bottom: 20px;

	width: 260px;

	font-size: 16px

}
.services__modal-item img {
	display: block;

	margin: 0 auto;
	width: 100%;
}

.services__modal-button {
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 5;

	display: block;

	width: 35px;
	height: 35px;

	background-color: transparent;

	border: none;
	border-radius: 50%;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;

		width: 35px;
		height: 3px;

		display: block;

		background-color: #000;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

@media only screen and (min-width: 768px) {
	.services {
		.container {
			padding: 0;
			.services__list {
				justify-content: space-around;
				.services__item {
					min-width: auto;

					margin: 0;
					padding: 0;

					text-align: center;

					&-title {
						font-size: 18px;
					}

					img {
						width: 225px;
					}

					&-price{
						font-size: 20px
					}

					&-button {
						font-size: 16px;
					}
				}
				.not-show {
					display: block;
				}
			}
			.toggles {
				display: none;
			}

			.services__modal-list {
				flex-direction: row;
				justify-content: center;
				align-items: start;

				width: 100%;

				padding-top: 0px;
				padding-right: 40px;
			}

			.services__modal-item {
				width: 40%;

				margin-right: 20px;

				img {
					width: 100%;
				}

				&--text {
					align-self: start;
				}
			}

			.services__modal-button {
				right: 40px;
			}
		}
	}
}

@media only screen and (min-width: 988px) {
	.services {
		padding-top: 100px;
		padding-bottom: 100px;

		.container {
			max-width: 988px;
			margin: 0 auto;

			.services__title {
				font-size: 36px;
				margin-bottom: 50px;
			}

			.services__list {
				.services__item {
					&-title {
						font-size: 21px;
					}

					img {
						width: 300px;
					}

					.services__item-price {
						font-size: 21px;
					}

					.services__item-button {
						font-size: 21px;

						cursor: pointer;

						&:hover {
							background-color: #fff;
							color: #2d333f;
							border-color: #2d333f;
						}
					}
				}
			}
			.services__modal-list {
				flex-direction: row;
				justify-content: space-around;
				align-items: center;

				padding: 0 30px;
			}

			.services__modal-item {
				width: 44%;

				font-size: 21px;

				align-self: center;
			}

			.services__modal-button {
				right: 0;
				top: -35px;
			}
		}
	}
}
